/*
usinf this grey at moment later a black satin with stars as a patterned image  #262626 or something with card texture;
a gold may want 	#59450d;
*/

/*ive made it with my browser on 67% zoom!*/

/*  use to get my wall paper effects  https://themarklee.com/2013/11/29/get-started-css-gradients/   */


@font-face {
  font-family: 'nymphetteregular';
  src: url('Nymphette-webfont.eot');
  src: url('Nymphette-webfont.eot?#iefix') format('embedded-opentype'),
    /*url('Nymphette-webfont.woff2') format('woff2'),*/
    url('Nymphette-webfont.woff') format('woff'),
    url('Nymphette-webfont.ttf') format('truetype'),
    url('Nymphette-webfont.svg#nymphetteregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3.5rem;
  font-family: 'PT Serif', serif;
  line-height: 1.5em;
}

.h1Subtitle {
  font-family: 'Dancing Script', cursive;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

/*just for testing*/
/*because basing it off example im changing p and tabs depend on it which should be the case*/

.tab2 {
	position: absolute;
  display: inline-block;
font-size: 4rem;
height:90px;
width:200px;

  right:15vw;
  top:-100vh -20px;

/*change to button making it less buttony*/
justify-content: center;
align-content: center;
border: none;
padding: 0;
margin: 0;
text-decoration: none;
background: inherit;
color: inherit;
font-family: inherit;
cursor: pointer;
text-align: inherit;


}


.tab2::before {
	content: ''; /* To generate the box */
	position: absolute;
  /*  top: 0px; right: 0px; bottom: 0px; left:0px;*/
display:inline-block;


	background: DimGrey;
	transform: perspective(4px) rotateX(-1deg);

  height:90px;
  width:200px;
  border-bottom-right-radius: 30px 50px;
  border-bottom-left-radius: 30px 50px;
  line-height : 35px;
  text-overflow: ellipsis;

}
.tab2>Img{

max-height: 50px;
max-width:50px;
padding:0px;
position:relative;
margin:10px 10px 30px;

}
.tab2>i{

position:relative;
margin:10px 10px 10px 30px;
color:white;
}


#goUp {
  display: inline-block;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  position: fixed;
  z-index: 1000;
}

.btnbefore {
  background-color: yellow;
}

.btnafter {
  background-color: purple;
}

.page2X0Y1 {
/*its going to be important that with different screen ratios that background angle still matches the words*/

/*https://cssgradient.io/  scroll to bottom*/
/*this would help with scaling https://www.creativebloq.com/css3/take-advantage-css-background-size-property-9113027*/

/*how i make the background work will probably change when i animate and want the two to match*/

  /*may have to make some divs in funny shapes to get effect i want*/
  /*or several backgrounds using background size- probably works better with background image*/
  /*different screen will have different ratios so do i keep vh vw same and alter gradients
  ot just have gradient going corner to corner - think later*/
  position: relative;
  height: 100vh;
  width: 100vw;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients*/
  /*would the parabola program i used for animation time work here?*/
  /*build in steps*/
  /*first want colour in linear gradient coming from top to middle*/
/*
  background: linear-gradient(beige, plum);
  */
    /*second want colour solid 5px between where they meet*/
    /*background: linear-gradient(white, yellow 35%, #262626 35%,plum 37%, white);*/


    /*third want not the gradient but the stopping point of the line and colours diagnol*/
/*third and a bit diagnol*/
/*the angle is true angle so may need to get the window ratio
to from corners is also true angles
i can change angle and i can change background size i think my best option is set them
angle based on window ratio and move based on background size
if use negative angle reverse order of colours
can also adjust background size to adjust for screen ration by multiplying an element
also the gradient is based off the centre see
https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient#Composition_of_a_linear_gradient
ig set starting point elsewhere could work
*/
/*use ful for angles https://medium.com/@patrickbrosset/do-you-really-understand-css-linear-gradients-631d9a895caf*/
/*use two percentage for start and stop*/
/*  background: linear-gradient(to bottom right,white, yellow 35%, #262626 35%,plum 37%, white);*/
/*background-size: 130vw 100vh; width then height*/
/*background-position: +30vh ; width then height*/

/*this code is only the area the line is in so if made colours transparent or made this the top layer
and put a replica underneith then will get effect im after however in this code the gradient is starting
from the reduced background size window so maybe it is better just to have it full size and put z layers over the top
of the same without the line - though this would have line in wrong place so maybe better to
adjust the numbers to account for the change in background size so start at negative and go over position
its percentages so these arnt the right numbers but the idea would be white -20% 120%, yellow 45%, #262626 45%,plum 47%, white);
or maybe straight using vw vh will ignore the background size the issue is white and yellow not starting in top corner and plum white not ending in it
so could try find a way to use vh vw with it but its percentages of the gradient
*/

/*layering https://codepen.io/thebabydino/pen/Kuvom*/
/*
background: linear-gradient(36deg, #272b66 42.34%, transparent 42.34%),
    linear-gradient(72deg, #2d559f 75.48%, transparent 75.48%),
    linear-gradient(-36deg, #9ac147 42.34%, transparent 42.34%) 100% 0,
    linear-gradient(-72deg, #639b47 75.48%, transparent 75.48%) 100% 0,
    linear-gradient(36deg, transparent 57.66%, #e1e23b 57.66%) 100% 100%,
    linear-gradient(72deg, transparent 24.52%, #f7941e 24.52%) 100% 100%,
    linear-gradient(-36deg, transparent 57.66%, #662a6c 57.66%) 0 100%,
    linear-gradient(-72deg, transparent 24.52%, #9a1d34 24.52%) 0 100%,
    #43a1cd linear-gradient(#ba3e2e, #ba3e2e) 50% 100%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  animation: layer 10s infinite linear;
}
*/


/*
background:
background-size: 80vw 60vh;
background-position: top 10vh left 0px;
background-repeat:no-repeat;
*/

/*need to blend edges*/
background:
/*top level*/
/*pink yellow slice*/
/*
linear-gradient(to bottom right, white, yellow 45%, transparent 45%,plum 46%, white),*/
linear-gradient(165deg, white, yellow 43%,yellow, transparent,plum,plum 45%, white),
/*middle black layer with transparent cornet*/

linear-gradient(to top right, black 70%, transparent 71%),
/*bottom layer that will be reveal through gap on both*/

linear-gradient(165deg, white, yellow ,plum , white);


/*top and right seem to be altering by pushing of the view pot not the area outside */
/*transform:rotate(-25deg); doesnt seem to offer an advantage at this point thought might if using seperate divs*/
      /*forth want the stops and line to be 0 to 80% from left then the rest of diagonal
      a blend with blending diagnol but gradient vertical*/
      /*is it adjusting to show whole background even if i make it bigger than view port
      is the colour limitied to a percentage of the 100% size not actual so would i need for
      a 200vw a 200% colour spread
      look at background attachment works with scroll but may be relavent*/



}
.pg2Do{
  position:absolute;
  height:50vh;
  width:50vw;
  /*to match the angle of the gradient will have to find the viewport ratio*/
  transform:rotate(-15deg);
  top:0;
  left:0vw;
font-family: 'Noto Sans', sans-serif;

font-size: 5rem;
text-decoration: underline;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}
.pCard{
/*need an equation for gradient and put the bottom centre 1/7th down it*/

width: 3vw;
height: 12vh;
position: absolute;
top:24vh;
right:35vw;

background-color: white;
transform: perspective(4px) rotateY(2deg);
}
/*maybe just use an arrow box*/
.pg2CanUse{
  height:50vh;
  width:50vw;
  /*to match the angle of the gradient will have to find the viewport ratio*/
position:absolute;
  bottom:5vh;
  right:25vw;

font-family: 'Noto Sans', sans-serif;
font-size: 5rem;
text-decoration: underline;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
    white-space:pre;
}
/*must be a better way*/


}
.page1X0Y0 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.noScroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.Scroll {
  overflow-x: hidden;
}

/*the :: pseudo code will be better for manipulating axis seperately
https://tobiasahlin.com/blog/curved-path-animations-in-css/
 but for now using divs and classes*/
/* original marble code
.myMarble{
border-radius: 100%;
width:100px;
height:100px;
position:absolute;
}
.myMarbleY{
position:absolute;
  top:100px;
}
.myMarbleX{
  position:absolute;
left:-110px;
}
.invisible{
  opacity:0;
}
*/
.myMarble {
  border-radius: 40%;
  /*background delete*/
  background-color: blue;
  width: 100px;
  height: 100px;
  position: absolute;
}

.invisible {
  opacity: 0;
  transition: opacity 2s linear;
}

.visible {
  opacity: 1;
  transition: opacity 2s linear;
}
.tab2.invisible {
  opacity: 0;
  transition: opacity 1s linear;
}

.tab2.visible {
  opacity: 1;
  transition: opacity 1s linear;
}

.myMarbleY {
  /*i wanted to control all y transform aspects throught his however moving it did not move the marble*/
  position: relative;
  top: 100px;
}

.myMarbleX {
  position: relative;
  left: -110px;
}

/*name duration function delay direction iteration fill state*/
/*page1stage1*/
/*maybe a set distance and put in repititions*/
.myMarbleYAnim {
  /*drop on text*/
  animation: yAxisStep1 1s cubic-bezier(1, .02, .91, .48) 1s normal 1 forwards running,
    /*waits till roll across text then falls*/
    yAxisStep2 0.5s cubic-bezier(1, .02, .91, .48) 3s normal 1 forwards running,
    /*shoots up*/
    yAxisStep3 0.5s cubic-bezier(.03, .86, .69, .78) 3.5s normal 1 forwards running;
  /*
   yAxisStep1 1s linear 2s forwards;
*/
}

.myMarbleXAnim {
  /*traj to text*/
  animation: xAxisStep1 1s linear 1s normal 1 forwards running,
    /*across text*/
    xAxisStep2 1s linear 2s normal 1 forwards running,
    /*fall off end*/
    xAxisStep3 0.5s ease-out 3s normal 1 forwards running;
  /*,
     xAxisStep1 1.5s linear 3s forwards,
      xAxisStep1 1.5s linear 4.5s reverse;
*/
  /*although made y 140 doesnt seem able to disappear of bottom of the screen way it goes off top*/
}

/*to make scroll available think i have to add a class to body with javascript
so whole anmation may be better in jquery so dont have time in both css and jquery*/
@keyframes yAxisStep1 {
  100% {
    transform: translateY(20vh)
  }
}

@keyframes yAxisStep2 {
  0% {
    transform: translateY(20vh)
  }

  100% {
    transform: translateY(140vh)
  }
}

@keyframes yAxisStep3 {
  0% {
    transform: translateY(140vh)
  }

  70% {}

  100% {
    transform: translateY(-20vh)
  }
}

/*i dont like having to seperate steps should
just translate from new position
but doesnt recognise new position as its
position seems to know its translated
this could work but its not where i want it
https://css-tricks.com/restart-css-animation/
*/
@keyframes xAxisStep1 {
  100% {
    transform: translateX(35vw)
  }
}

@keyframes xAxisStep2 {
  0% {
    transform: translateX(35vw)
  }

  100% {
    transform: translateX(65vw)
  }
}

@keyframes xAxisStep3 {
  0% {
    transform: translateX(65vw)
  }

  100% {
    transform: translateX(85vw)
  }
}

/*make it so can toggle between rolling and end rolling with pseudo ::*/
.end-rolling {}

.rolling {
  animation:
    spin 2s linear infinite forwards;
}

@keyframes spin {

  /* trick will be starting from position it is in  */
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }

  /*this should be additional rotation not set rotation*/
  /* rotate should be a plan */
}

.businessCard {
  /*there shouldnt be a scrolled bar is it because of border? */
  /*one way of getting a business card look is by have a card shape maybe rest of website as background
or a table wooden pattern behind
*/
  /*
  margin: 12vh 2vw;
  height:76vh;
*/
  background-color: #262626;
  border-style: groove;
  border-color: black;
  color: black;
  /* the px are making it so there is a scroll bar should put them as % and deduct from height*/
  border-width: 5px 8px 8px 5px;
}

.buisnessCardText {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.delayAppear{
  opacity:0;
  animation: fadeIn 2s  linear forwards;
}
@keyframes  fadeIn {
  0%{opacity:0}
  100%{opacity:1;}
  /*
0%{color:black}
    100%{color: slategray}
*/
/*
}
*/
.fontOrnaments {
  font-size: 3rem;
  font-family: 'nymphetteregular';
}

.drinkChoices {
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  border: 0;
}

/*want to use button as has description key presses built in put struggling to override styling effects on images*/
/*doing this works however does this mean all my buttons will have this setup! i may not want them all centered
maybe can drill down with type and name
*/
/*need to specify drink buttons*/
/*.drinkButton */
.drinkButton {
  justify-content: center;
  align-content: center;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: inherit;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.drinkButton:hover,
.drinkButton:focus {
  /*at the moment when the mouse is over the drink and clicks
it is still classed as hovering until the mouse is moved offset
the button at which point the duration kicks in the drink rights itself
this is despite removiing pointer event in js. a solution would be putting
a new object on button press over the button and disapearing the buttonsso the
new instantiated image is same rotation but isnt same object. Or if there
was a way of liberating the image from its hierachy position absolute not work
because it is still absolute relative to the thing it is in not a 0,0 coordinate
*/
  transition-duration: 1s;
  transform: rotate(-15deg);
}

.drinkButton:focus {
  /*
    outline: 1px solid #fff;
    outline-offset: -4px;
    */
  outline: none;
  /*works but click off and stops*/
  /*
    position: absolute;
    animation: takeDrink 2s linear infinite;
    */
}

/*
button:active {
    transform: scale(0.99);*/
/*so here all buttons need to become unpressable and glass need to float to spot*/
/*should i be using webkit transform?*/
/*  background: #0053ba; */
/*disable other buttons, put image overtop of button same location and float bottom left
roll ball same time top left and bounce across the words and down
then fade in corner stuff and have drink appear under the drink icon and the icon disappear
same time bounce the ball up and move view up slightly and reveal tab as it get to last 10% of screen
do both halfs of this action in 1s each
    */
/*
  transition-duration: 0.75s;
    transform: rotate(-15deg);
*/
/*should i be moving with jquery*/
/*this is moving cell not just image!*/
.drinkButton:active {
  /*jquery here
  position: absolute;
  animation: takeDrink 2s linear infinite;
  part of my animation issues have been using the animation twice and them clashing
  and using them on the same object rather than say moving the box somthing is in
  so going to try 2 divs call them x and y and the image can spin
  translate saves on redraw! https://tobiasahlin.com/blog/curved-path-animations-in-css/
  timed slide https://codepen.io/phy5prt/pen/eobwWB
  */
}

.my-animation {
  position: absolute;
  /*need to set (not add) rotation because can end up rotated more than wanted on second trajectory*/
  /*really want to delete and replace with another image unless its possible to make it fly to the new cell and go in it*/
  /*was 2*/
  animation: takeDrink 1s linear forwards;
}

/*put code into this see if can get working*/
/*try animating tin dog see what happens*/
@keyframes takeDrink {

  /*could just use transition*/
  /*https://css-tricks.com/using-multi-step-animations-transitions/*/
  /*if set position it cant go over the top of the table*/
  /*if set its start position it will slide but how do i get position its already at
jquery
*/
  /*currently relative to self*/
  0% {
    right: 0vw;
    top: 0vh;
    /*may already be rotated so want to be able just to set it*/
    transform: rotate(0);
    opacity: 1;
  }

  60% {
    transform: rotate(0);
  }

  80% {
    transform: rotate(-15deg);
  }

  100% {
    right: 50vw;
    top: 40vh;
    Opacity: 0;
  }
}

/*
with tin dog this worked
  animation: takeDrink 3s linear infinite;
  @keyframes takeDrink {
0%{left:0px}
  50% {
left:1000px;
   }100%{left:0px}}
*/
.drinkImages {
  /* theyre not centered in their boxes*/
  vertical-align: top;
  max-height: 60px;
  border: 0;
  padding: 0;
  margin: 0;
}

/*
background-image: none;v ---also not worked
button{
  background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
 }
   button:focus {
    border: none;
}
*/
/*
max-height:8vh;
max-width:8vh;
padding: 0 1vw 0 1vw;
*/
.colTight {
  padding: 0;
  margin: 0;
  border: 0;
}

/*tried corners etc but not managed to change the corner colour within the code of the corner*/
.corner-background {
  /*if can get container to work wont need angles here*/
  background-color: grey;
  /*background: linear-gradient(45deg, yellow 0 50%, grey 50% 100%);
/*background: linear-gradient(45deg, yellow 0 50%, Transparent 50% 100%);
  */
  position: fixed;
  height: 375px;
  width: 350px;
  Transform: rotate(45deg);
  bottom: -200px;
  Left: -200px;
  opacity: 0;
}

.corner-table {
  /* visibility: hidden; */
  /*update when got buttons*/
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  max-height: 30px;
  border: 0;
  padding: 0px 75px 0px 75px;
  margin: 0px 0px 5px 7px;
  font-size: 3rem;
  color: #262626;
}

.corner-links {
  Transform: rotate(-45deg);
  max-height: 60px;
  border: 0;
  padding: 0;
  margin: 0;
}

#chosen-beverage {
  opacity: 0;
  /*change source and fade in*/
}

/*jquery for animations insteaD?
https://css-tricks.com/controlling-css-animations-transitions-javascript/
*/
.fade-in-beverage {
  /*careful i am animating it twice as fading in the section it is in too*/
  /*was 3 and 2*/
  animation: fadeIn 1.5s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.fade-in-corner {
  /*delay isnt working*/
  /*was 3*/
  animation: fadeIn 1.5s linear forwards;
  animation-fill-mode: forwards;
}

/*start end rolling could just be replaced by having rotation in the marble class and a transition not sure would slow it though*/
/*should be able to get it so can toggle rolling and end rolling*/
.end-rolling {
  animation: spin ease-out linear 1s forwards;
}

/*overcome the ease issue by using from and to and the delay issue by instead of having two animation conflicting it one animation instyruction for both with delay*/
/*http://cubic-bezier.com/#.42,0,1,1*/


@keyframes spin {

  /* trick will be starting from position it is in  */
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(720deg);
  }

  /*
0%{transform:rotate(0deg);}
12.5%{transform:rotate(90deg);}
25%{transform:rotate(180deg);}
37.5%{transform:rotate(270deg);}
50%{transform:rotate(360deg);}
62.5%{transform:rotate(450deg);}
75%{transform:rotate(540deg);}
87.5%{transform:rotate(630deg);}
100%{transform:rotate(720deg);}
*/
  /*this should be additional rotation not set rotation*/
  /* rotate should be a plan */
}

@keyframes fadeIn {

  /*reverts when anim complete*/
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*use something like this to reduce to just the tea icon*/
@media (max-width:1028px) {}
