<div class="scaleable-wrapper" >
<div class="aCard">
<div class="topRightRibbonArea">
<div class="topRightProjectTechnologiesArea"><div class ="ribbonLoopShadowSpacer"></div>
<form class="formTechBtn" action="/carousel" method="get">
<button class="submitButtonNoStyle" type="submit" name="techButton" value=<%= page3SecondBestCard.technologiesArray[i].technologyName %> >
<img type="image" class="cardTechlinksImg" src= <%=page3SecondBestCard.technologiesArray[i].technologyImagePath %> alt="gitLink">
</button>
</form>
</div>
<div class="ribbonEnd">
</div>
</div>
<div class="aCardWritingArea">
<div class="projectTitle"> <%= page3SecondBestCard.projectName %> </div>
<img class="projectImage " src=<%=page3SecondBestCard.projectImagePath %> alt="projectImg">
<div class="projectDescriptionSubtitle">Description</div>
<div class="projectDescriptionText"><%=page3SecondBestCard.projectDescription %></div>
</div>
<div class="cardHyperlinksArea">
 <a href= <%= page3SecondBestCard.linksArray[i].linkHyperlink %> >
<Img class="cardHyperlinksImg" src= <%=page3SecondBestCard.linksArray[i].linkImagePath %> alt="gitLink">
</a></div></div></div>
